.auto-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%); }

.auto-center-horizontal {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%); }

.auto-center-vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%); }

* {
  font-family: 'Pathway Gothic One', sans-serif; }

html {
  background: url(/img/bg/blackBg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 62.5%;
  text-transform: uppercase; }

body {
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  color: #fff; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1 {
  color: #fff;
  font-size: 4.0rem; }

i {
  font-family: FontAwesome;
  font-style: normal; }

#tableWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%); }
  #tableWrapper .add {
    font-size: 125px;
    line-height: 97px;
    position: absolute;
    background: #333;
    color: #ccc;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 56px;
    border: 2px solid #aaa;
    box-shadow: 0 0 100px 20px black;
    z-index: 10;
    cursor: pointer;
    overflow: hidden; }
    #tableWrapper .add img {
      max-width: 100%; }
  #tableWrapper .add-wrapper-0 {
    top: -50px;
    left: -50px; }
  #tableWrapper .add-wrapper-1 {
    top: -50px;
    right: -50px; }
  #tableWrapper .add-wrapper-2 {
    bottom: -50px;
    left: -50px; }
  #tableWrapper .add-wrapper-3 {
    bottom: -50px;
    right: -50px; }
  #tableWrapper #table {
    opacity: .7; }

#primaryBtnWrapper {
  border-radius: 18px; }
  #primaryBtnWrapper a {
    border: 1px solid #15435d;
    color: #eeeeee;
    background: -webkit-linear-gradient(top, #20678f, #1b587a);
    text-transform: uppercase;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3); }
    #primaryBtnWrapper a:hover {
      background: -webkit-linear-gradient(top, #22709b, #1b587a); }
  #primaryBtnWrapper a:first-child {
    margin-bottom: 90px; }
  #primaryBtnWrapper.inactive .btn {
    border: 1px solid #2b5041;
    color: #4f9277;
    background: #34614e; }

#pingPongTable {
  width: 630px;
  height: 350px;
  background: radial-gradient(rgba(88, 163, 132, 0.9), rgba(61, 113, 92, 0.9), rgba(34, 64, 52, 0.9));
  position: relative;
  box-shadow: 0 0 0 6px #eeeeee; }

#courtLine {
  position: absolute;
  height: 6px;
  width: 100%;
  background: #eeeeee;
  top: 50%;
  -webkit-transform: translateY(-50%); }

#netLine {
  position: absolute;
  width: 6px;
  height: 100%;
  background: #eeeeee;
  left: 50%;
  -webkit-transform: translateX(-50%); }

#controlBar {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1; }
  #controlBar i {
    color: #555;
    font-size: 3.0rem;
    cursor: pointer; }

#playerList {
  text-align: center; }

#playerList li {
  display: inline-block;
  margin: 0 50px 50px 0;
  border-radius: 95px;
  overflow: hidden;
  border: 3px solid #222;
  box-shadow: 0 0 40px 10px #000; }
  #playerList li img {
    display: block;
    cursor: pointer; }
  #playerList li.available-false {
    opacity: .4; }

.match-setup .btn-group {
  box-shadow: 0 0 100px 30px rgba(0, 0, 0, 0.9); }

#matchInfo h1, #matchInfo h2 {
  text-shadow: 2px 2px 2px #000;
  margin: 20px 0;
  text-align: center; }
#matchInfo h1 {
  font-size: 6rem; }
  #matchInfo h1 span {
    font-size: 4.0rem; }
#matchInfo h2 {
  font-size: 22rem; }

#loserPoints {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba(20, 20, 20, 0.9);
  border-left: 1px solid #333; }
  #loserPoints.team-1 {
    left: 0; }
  #loserPoints.team-2 {
    right: 0; }
  #loserPoints h1 {
    margin-top: 45px;
    text-transform: none;
    font-size: 3.0rem;
    text-align: center; }
  #loserPoints #pointList {
    margin: 40px 20px 40px 40px;
    overflow: auto; }
    #loserPoints #pointList li {
      width: 20%;
      display: block;
      float: left; }
    #loserPoints #pointList a {
      display: block;
      font-size: 6.0rem;
      border-radius: 20%;
      color: #fff;
      background: #333;
      text-align: center;
      line-height: 100px;
      margin: 0 20px 20px 0;
      border: 1px solid #000;
      text-decoration: none;
      text-shadow: 1px 1px 1px #000;
      cursor: pointer; }

#hideLoserPoints {
  font-family: FontAwesome;
  display: block;
  color: #333;
  font-size: 6rem;
  cursor: pointer; }

.team-1 #hideLoserPoints {
  text-align: left;
  margin-left: 40px; }

.team-2 #hideLoserPoints {
  text-align: right;
  margin-right: 40px; }

.btn {
  background: -webkit-linear-gradient(top, #20678f, #1b587a);
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  text-shadow: 1px 0 1px #000; }
  .btn:hover {
    background: -webkit-linear-gradient(top, #22709b, #1b587a); }
  .btn.large {
    padding: 25px;
    font-size: 2.7rem; }

.inactive .btn, .btn.inactive {
  cursor: default;
  text-shadow: none; }

.btn-group.vertical {
  border-radius: 10px; }
  .btn-group.vertical .btn {
    border-radius: 0;
    border-bottom: 1px solid #123a50; }
  .btn-group.vertical .btn:first-child {
    border-radius: 10px 10px 0 0; }
  .btn-group.vertical .btn:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom: 0; }
.btn-group.horizontal {
  border-radius: 10px; }
  .btn-group.horizontal .btn {
    display: block;
    float: left;
    border-radius: 0;
    border-right: 1px solid #123a50; }
  .btn-group.horizontal .btn:first-child {
    border-radius: 10px 0 0 10px; }
  .btn-group.horizontal .btn:last-child {
    border-radius: 0 10px 10px 0;
    border-right: 0; }
