

<div ng-controller="ChallengeCtrl">

	<h1>{{ activeIdx }}</h1>

	<div id="tableWrapper">

		<div
			class="add-wrapper"
			ng-repeat="participant in participants"
			ng-click="revealPlayerSelect(participant.idx)"
			ng-bind-html="participant.content">
			
			{{ participant.content }}
		
		</div>

		<img id="table" src="/img/graphics/court.jpg">

		<div id="primaryBtnWrapper">
			<a href="#" class="btn large">Issue Challenge</a>
			<a href="#" class="btn large">Start Match</a>
		</div>

	</div>

</div>