

<!--
<ul class="player-list" ng-controller="ChallengeCtrl">

	<li ng-repeat="player in players">
		<img src="/img/players/mugshots/{{ player.id }}.jpg" height="100" width="100">
	</li>"

</ul>
-->

<div ng-controller="ChallengeCtrl">

	<div id="tableWrapper">

		<div
			class="add-wrapper"
			ng-repeat="participant in participants"
			ng-click="revealPlayerSelect(participant.idx)"
			ng-bind-html="participant.content">
			
			{{ participant.content }}
		
		</div>

		<img id="table" src="/img/graphics/court.jpg">

		<div id="primaryBtnWrapper">
			<a href="#" class="btn large">Issue Challenge</a>
			<a href="#" class="btn large">Start Match</a>
		</div>

	</div>


	<modal-dialog show="modalShown" width="750px" height="90%">
		
		<ul id="playerList" ng-repeat="player in players">
			
			<li ng-click="selectPlayer(player.id)">
				<img ng-src="/img/players/mugshots/{{ player.id }}.jpg" height="130" width="130">
			</li>

		</ul>

	</modal-dialog>

</div>