{{! handlebars challenge.handlebars --output compiled\challengeTemplate.js --amd --knownOnly }}

<div id="team1">
	<img class="arena-player" data-player="1" src="{{ team1.profile }}" alt="">
</div>

<div id="vs" class="center-xy-line-height">
	<div>VS</div>
</div>

<div id="team2">
	<img class="arena-player" data-player="1" src="{{ team2.profile }}" alt="">
</div>