{{! handlebars icon.handlebars --output compiled\iconTemplate.js --known getIconSrc --amd --knownOnly }}

<li class="icon" draggable="true" data-id="{{ id }}">
	<img src="{{getIconSrc email}}" alt="{{ name }}">
</li>