{{! handlebars icon.handlebars --output compiled\iconTemplate.js --known getIconSrc --amd --knownOnly }}

<li>
	<img src="{{getIconSrc email}}" draggable="true" data-id="{{ id }}" alt="{{ name }}">
</li>