<ul>
	<li>ID: {{ player.id }}</li>

	<li>Name: {{ player.name }}</li>

	<li>
		Nicknames:

		<ul>
			<li ng-repeat="nickname in player.nicknames">{{ nickname }}</li>
		</ul>
	</li>

	<li>
		Profile Pic: <img ng-src="{{ player.profile }}">
	</li>

	<li>
		Mugshot: <img ng-src="{{ getGravatarURL(player.email) }}">
	</li>

	<li>Email: {{ player.email }}</li>

	<li>
		Teams:
		<ul>
			<li ng-repeat="team in player.teams">{{ team }}</li>
		</ul>
	</li>

	<li>
		Quotes:
		<ul>
			<li ng-repeat="quote in player.quotes">{{ quote }}</li>
		</ul>
	</li>
</ul>