

* {
	font-family: 'Pathway Gothic One', sans-serif;
	// font-family: 'Londrina Sketch', sans-serif;
	// font-family: 'Permanent Marker', sans-serif;
	// font-family: 'Architects Daughter', sans-serif;
}

html {
	background: url(/img/bg/blackBg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 62.5%;
	text-transform: uppercase;
}

body {
	overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
	color: #fff;
}

ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}



h1 {
	color: #fff;
	font-size: 4.0rem;
}


i {
	font-family: FontAwesome;
	font-style: normal;
}