

* {
	font-family: 'Pathway Gothic One', sans-serif;
}

html {
	background: url(/img/bg/blackBg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 62.5%;
}

ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}



h1 {
	color: #fff;
	font-size: 4.0rem;
}


i {
	font-family: FontAwesome;
	font-style: normal;
}