

#pingPongTable {
	width: 630px;
	height: 350px;
	background: radial-gradient($fadedTableColor, darken($fadedTableColor, 15%), darken($fadedTableColor, 30%));
	position: relative;
	box-shadow: 0 0 0 $lineWidth $lineColor;
}

#courtLine {
	position: absolute;
	height: $lineWidth;
	width: 100%;
	background: $lineColor;
	top: 50%;
	-webkit-transform: translateY(-50%);
}

#netLine {
	position: absolute;
	width: $lineWidth;
	height: 100%;
	background: $lineColor;
	left: 50%;
	-webkit-transform: translateX(-50%);
}