
<div ng-controller="ChallengeCtrl" class="match-setup">

	<control-bar></control-bar>


	<div class="btn-group vertical auto-center">

		<a ui-sref="match" ng-click="setMaxGames(1)" class="btn large">Single Game</a>
		<a ui-sref="match" ng-click="setMaxGames(3)" class="btn large">Best of Three</a>
		<a ui-sref="match" ng-click="setMaxGames(5)" class="btn large">Best of Five</a>
		<a ui-sref="match" ng-click="setMaxGames(7)" class="btn large">Best of Seven</a>

	</div>


	<img src="/img/players/profile/cinthia.png" height="1000" style="position: absolute;">
	<img src="/img/players/profile/brian.png" height="1000" style="position: absolute; -webkit-transform: scaleX(-1); right: 0;">


</div>