#iconWrapper {
	display: none;
	position: absolute;
	right: 50px;
	bottom: 50px;
	left: 50px;
	background: $iconBgClr;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			float: left;
			margin: 5px;

			&:hover {
				-webkit-transition: 200ms;
						transition: 200ms;
				-webkit-transform: scale(1.1);
						transform: scale(1.1);
				cursor: move;
			}
		}
	}
}